<div id="swimbi" align="left">
    <ul>
        <li><a href="#home"><button>Home</button></a></li>
        <li><a href="#about"><button>Films</button></a></li>
        <li><a href="#actors"><button>Search</button></a></li>
        <li><a href="#update"><button>Update</button></a></li>
        <li><a href="#insert"><button>Insert</button></a></li>
        <li><a href="#delete"><button>Delete</button></a></li>
        <li><a href="#NoOfMovies"><button>#Movies an year</button></a></li>
    </ul>
</div>
