<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert Film</title>
</head>
<body>
<pre>

</pre>
<form name="registrationform" action="InsertFilm.jsp" method="post">
<pre>
Enter Movie ID:              <input type="text" name="mov_id"><br>
Enter Title:                 <input type="text" name="title"><br>
Enter Duration of the movie: <input type="text" name="duration"><br>
Enter director id:           <input type="text" name="director_id"><br>
Enter rating:                <input type="text" name="rating"><br>
<br>
</pre>
<p>
<input type="submit">
</p><br>
</form>
</body>
</html>