<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Update Page</title>
</head>
<body>
<div data-ng-controller="UpdateCtrl">
<pre>

</pre>
<form action="">
Enter the Movie ID which has to be updated:
  <input type="text" name="UpdateMovie" data-ng-model="MovId"><br><br>
  Director Id:<input type="text" name="dir_id" data-ng-model="dir_id"><br><br>
  <input style="width: 300px;margin-left: 20%" type="button" data-ng-click="UpdateFilm(MovId,dir_id)"  value="Update">
</form>
</div>
</body>
</html>